<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head lang="pl">
    <title>Good Thymes Virtual Grocery</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>



<form action="#" th:action="@{/client/add}" th:object="${client}" method="post">
    <table border="1">

        <tr>
            <td><label th:text="#{msg.title}" /></td>
            <td><input type="text" th:field="*{firstName}" /></td>
        </tr>
        <tr>
            <td><label th:text="#{msg.content}" /></td>
            <td><input type="text" th:field="*{lastName}" /></td>
        </tr>
        <tr>
            <td><input type="submit" value="Submit" /></td>
        </tr>
    </table>
</form>
</body>


</html>