<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head lang="pl">
    <title>ADD CLIENT</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

<h1><p th:utext="#{parking.welcome}"></h1>

</p>

<form action="#" th:action="@{/car/add}" th:object="${car}" method="post">
    <table border="1">

        <tr>
            <td><label th:text="#{msg.brand}" /></td>
            <td><input type="text" th:field="*{brand}" /></td>
            <td th:if="${#fields.hasErrors('brand')}" th:errors="*{brand}">Brand
                Error</td>
        </tr>
        <tr>
            <td><label th:text="#{msg.modelCar}" /></td>
            <td><input type="text" th:field="*{modelCar}" /></td>
            <td th:if="${#fields.hasErrors('modelCar')}" th:errors="*{modelCar}">Model Car
                Error</td>
        </tr>
        <tr>
            <td><label th:text="#{msg.registrationNumber}" /></td>
            <td><input type="text" th:field="*{registrationNumber}" /></td>
            <td th:if="${#fields.hasErrors('registrationNumber')}" th:errors="*{registrationNumber}">Registration Number
                Error</td>
        </tr>
        <tr>
            <td><label th:text="#{msg.chooseClient}" /></td>
            <td>
                <select th:field="*{client}">
                    <option value=""> -- </option>
                    <option th:each="client : ${clients}"
                            th:value="${client.id}"
                            th:utext="${client.lastName}"/>
                </select>
        </tr>

        <tr>
            <td><label th:text="#{msg.parkingSpace}" /></td>
        <td><select th:field="*{parkingSpace}">
            <option th:each="i : ${#numbers.sequence(0, 50)}" th:value="${i}" th:text="${i}">
            </option>
        </select>
        </td>
        </tr>
            <td><input type="submit" value="Submit" /></td>
        </tr>
    </table>
</form>
</body>

</html>