<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>CARS LIST</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

<h1>Cars List</h1>

<table>
    <tr>
        <th>ID</th>
        <th>BRAND</th>
        <th>MODEL CAR</th>
        <th>REGISTRATION NUMBER</th>
        <th>CLIENT</th>
    </tr>
    <tr th:each="car : ${cars}">
        <td th:text="${car.id}">ID</td>
        <td th:text="${car.brand}">TITLE</td>
        <td th:text="${car.modelCar}">CONTENT</td>
        <td th:text="${car.registrationNumber}">CREATED</td>
        <td th:text="${car.client}">CREATED</td>
        <td th:text="${car.parking.howMany}">Time To END</td>
        <td><a th:href="@{|/delete/${car.id}|}" >Usuń</a></td>
        <td><a th:href="@{|/edit/${car.id}|}" >Edytuj</a></td>
    </tr>
</table>

<p>
    <a href="http://localhost:8080/saveNote">Add Note</a>
    <a href="http://localhost:8080/">Main Page</a></p>

</body>

</html>